[Desktop Entry]
Categories=Qt;Application;Utility;
Encoding=UTF-8
Exec=pysozluk-qt
GenericName=English-Turkish Dictionary
GenericName[tr]=İngilizce-Türkçe Sözlük
Icon=pysozluk-qt
Name=Pysozluk-Qt
Name[tr]=Pysözlük-Qt
StartupNotify=true
Terminal=false
Type=Application
